<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="profile.css" type="text/css">
    <title>profile.sidebar</title>
</head>
<body>
    <section id="sec-name">
        <p>
            <span id="fname">Patrick</span>
            <span id="lname">Franz</span>
        </p>
    </section>
    <section id="sec-images">
        <img src="images/profile.png"            
             alt="Profile picture" />
    </section>
    <hr>
    <section id="sec-about">
        <p id="about-title">About the Developer</p>
        <p>My two passions are the mountains and code. Quite often, when I'm doing one, I'm thinking about the other. This brings me balance and perspective in both worlds. My partner and son fill the rest of my life.</p> 
    </section>    
</body>
</html>